
.row >*{
    background-color: rgb(255,255,255);
}
.h2{
    margin-top: 30px;
    margin-left: 10px;  
}
.melynas{
    background-color:rgb(53,152,220);
    height:700px;
    width: 800px;
}
.firstn{
    display: inline-block;
    width: 305px;
    margin-top: 10px;
    font-weight: 500;
    color: rgb(166,181,206);
    border-radius: 0px;
   
}
.lastn{
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 25px;
    width: 305px;
    margin-top: 10px;
    color: rgb(166,181,206);
    font-weight: 500;
}
.cont{
    width: 800px;
    margin-top: 40px;
    margin-left: 54px;
    
}
.email{
    margin-bottom: 25px;
    color: rgb(166,181,206);
    font-weight: 500;
}
.conf{
margin-top: 25px;
color: rgb(166,181,206);
font-weight: 500;
}
.pasw{
    color: rgb(166,181,206);
    font-weight: 500;
    margin-top: 25px;
}
.cb{
    margin-top: 25px;
    font-size: 20px;
}
a{
    text-decoration: none;
}
 
.btn{
    width: 200px;
    margin-left: 0px;
    margin-bottom: 25px;
    border-radius: 3px;
}
.end{
    background-color: none;
    padding: 0;
}
p{
    margin-top: 15px;
    margin-right: 120px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}
#link{
   text-decoration: underline;
   color: antiquewhite;
   
}
input >*{
    background-color: blue;
}
.spacer{
    height: 20px;
}